<!-- public/views/nerd.html -->

<!-- nerd.html is the mark-up for the package entry form-->

<div class="packageForm">
	Recipient:<br>
	<input type="text" class="recipient">
	Carrier:<br>
	<input type="radio" name="carrier" value="UPS">UPS<br>
	<input type="radio" name="carrier" value="USPS">USPS<br>
	<input type="radio" name="carrier" value="FedEx">FedEX<br>
	<input type="radio" name="carrier" value="OnTrac">OnTrac<br>
	<input type="radio" name="carrier" value="DHL">DHL<br>
	<input type="radio" name="carrier" value="Other">Other<br>
	<button>Submit</button>
</div>	


<!-- add bootstrap class names -->